# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual Environment
myenv/
venv/
env/
.venv/

# Django
db.sqlite3
*.log
local_settings.py
media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
